<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <link rel="shortcut icon" th:href="@{assets/image/icon.png}"/>
        <link th:href="@{assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" th:href="@{assets/css/cssnyatemplate.css}"/>
        <link rel="stylesheet" th:href="@{assets/font-awesome-4.7.0/css/font-awesome.min.css}"/>
        <script  th:src="@{assets/js/jquery-3.1.1.min.js}"></script>
        <script  th:src="@{assets/js/bootstrap.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.15/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href=
                "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.15/css/jquery.dataTables.min.css" />

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    </div>
</head>
<body>
    <div th:fragment="header">
        <nav class="navbar navbar-default navbar-fixed-top" style="height: 60px">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="" s="navbar-header" style="padding-top: 5px;">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" th:src="@{assets/image/logo.png}" style="max-height: 100%"/>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav set-nav">
                        <li>
                            <div class="container-fluid active-user">
                                <div class="row">

                                    <div class="col-sm-5"><img th:src="@{${'/assets/image/user/' + foto}}" class="img-circle" style="max-width: 100%"/></div>

                                    <div class="col-md-7">
                                        <h5 style="margin-bottom: 0px" th:text="${nama}"></h5>
                                        <span> <span style="color: #00B900; font-size: 20px;" >&#9679;</span> Online</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="" th:classappend="${dashboardPOS}?active:none">
                            <a th:href="@{/kasir}">
                                <i class="fa fa-tachometer fa-fw" aria-hidden="true"></i>
                                Dashboard
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="" th:classappend="${productPOS}?active:none">
                            <a th:href="@{/kasir-product}">
                                <i class="fa fa-cubes fa-fw" aria-hidden="true"></i>
                                Products
                            </a>
                        </li>
                        <li class="" th:classappend="${ordersPOS}?active:none">
                            <a th:href="@{/kasir-orders}">
                                <i class="fa fa-shopping-bag fa-fw" aria-hidden="true"></i>
                                Orders
                            </a>
                        </li>
                        <li class="" th:classappend="${customerPOS}?active:none">
                            <a th:href="@{/kasir-customer}">
                                <i class="fa fa-users fa-fw" aria-hidden="true"></i>
                                Customer
                            </a>
                        </li>
                        <li class="" th:classappend="${reportPOS}?active:none">
                            <a th:href="@{/kasir-report}">
                                <i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
                                Report
                            </a>
                        </li>
                        <li class="" th:classappend="${userPOS}?active:none">
                            <a th:href="@{/kasir-user}">
                                <i class="fa fa-user fa-fw" aria-hidden="true"></i>
                                User
                            </a>
                        </li>
                        <li class="" th:classappend="${profilePOS}?active:none">
                            <a th:href="@{/kasir-profile}">
                                <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
                                Edit Profile
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/logout}" methods="post">
                                <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>
                                Logout
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b th:inline="text">[[${#httpServletRequest.remoteUser}]]</b><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/kasir}"><i class="fa fa-tachometer fa-fw" aria-hidden="true"></i> Dashboard</a></li>
                                <li><a th:href="@{/kasir-profile}"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> Profile</a></li>
                                <li><a th:href="@{/logout}" methods="post"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>

</body>
</html>