<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
    <title>Kasir - User | MacitePos</title>
    <div th:replace="c_header :: header-css"/>
    <script th:src="@{assets/js/user.js}"></script>
</head>
<body>

<div th:replace="c_header :: header"/>

<!-- COntent web -->
<div class="body">
    <div class="container-fluid">
        <div class="page-header">
            <h2 class="text-center">USER</h2>
        </div>
        <!-- Code Here --><!-- Code Here --><!-- Code Here --><!-- Code Here --><!-- Code Here -->
        <!-- Search -->
        <!--<form class="form-inline text-center">-->
            <!--<div class="form-group">-->
                <!--<div class="input-group">-->
                    <!--<input type="text" style="width: 300px" class="form-control" aria-label="..." placeholder="Search"/>-->
                    <!--<div class="input-group-btn">-->
                        <!--<button type="button" class="btn btn-default text-center" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search fa-fw" aria-hiden="true"></i>Search</button>-->
                    <!--</div>&lt;!&ndash; /btn-group &ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    </div>
    <!-- Table -->
    <div class="container-fluid">
        <table class="table table-striped " style="margin-top: 20px"  id="userTable">
            <thead>
            <tr style="background-color: #71BACF">
                <th>Image</th>
                <th>Name</th>
                <th>Address</th>
                <th>Date of Birth</th>
                <th>Email</th>
                <th>Category</th>
                <th>Status</th>
                <th>Created at</th>
                <th>Last Modified</th>
            </tr>
            </thead>
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><img th:src="@{assets/image/defaultProfile.png}" style="max-height: 40px"/></td>-->
                <!--<td>1</td>-->
                <!--<td>Lukman Swiseteger</td>-->
                <!--<td>Jalan in Aja</td>-->
                <!--<td>01/07/2017</td>-->
                <!--<td>lukman@gmail.com</td>-->
                <!--<td>Kasir</td>-->
                <!--<td>01/07/2017 <br/>07:42</td>-->
                <!--<td>01/07/2017 <br/>07:42</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        </table>
    </div>
</div>
</body>
</html>