<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Home</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" th:href="@{assets/image/icon.png}">
</head>
<body>

    <h1>Welcome Spring Boot</h1>
    <div class="container">
        <img style="margin-bottom: 10px; width: 350px; height: 100px" th:src="@{assets/image/logo.png}" />
        <h1>Bismillahirrahmanirrahim</h1>
            <div th:if="${not #lists.isEmpty(member)}">
            <table class="table table-striped">
                <tr>
                    <th>ID Member</th>
                    <th>Nama</th>
                    <th>Alamat</th>
                    <th>Password</th>
                    <th>Action</th>
                </tr>
                <tr th:each="members : ${member}">
                    <td th:text="${members.id_member}"></td>
                    <td th:text="${members.nama_member}"></td>
                    <td th:text="${members.alamat}"></td>
                    <td th:text="${members.pass}"></td>
                    <td th:text="${members.version}"></td>
                    <td>
                        <a th:href="${'member/edit/'+members.id_member}">Edit</a>
                        <a th:href="${'member/hapus/'+members.id_member}">Hapus</a>
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <a href="/member/create" class="btn btn-default"> Add Member</a>
            <a th:href="@{/logout}" methods="post">Logout</a>
        </div>



    </div>
</body>
</html>