<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Invoice | MacitePos</title>
    <div th:replace="c_header :: header-css"/>
    <script th:src="@{assets/js/invoice.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row panel">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 panel panel-default">
            <div class="row panel-body">
                <div class="col-md-5 text-center" style="min-height: 50px;">
                    <img alt="Brand" src="assets/image/logo.png" style="max-height: 40px; padding-top: 12px"/>
                </div>
                <div class="col-md-2 text-center">
                    <h4 style="padding-top: 7px">INVOICE</h4>
                </div>
                <div class="col-md-5">
                    <h5 class="text-center" >Cashier : <span th:text="${nama}"></span></h5>
                    <h5 class="text-center">09:80:38</h5>
                </div>
                <div class="panel-body">
                    <table class="table table-striped" id="PrintInvoiceTable">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Qty</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--<tr>-->
                            <!--<td>1</td>-->
                            <!--<td>Teh Pucuk Harum</td>-->
                            <!--<td>15000</td>-->
                            <!--<td>1</td>-->
                            <!--<td>Rp. 15000</td>-->
                        <!--</tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 text-right">
                    <span>Sub Total :</span>
                </div>
                <div class="col-sm-3 text-right">
                    <span id="SubTotalPrintInvoice">Rp. 88888</span>
                </div>
                <div class="col-sm-8 text-right">
                    <span>Discount :</span>
                </div>
                <div class="col-sm-3 text-right">
                    <span id="DiscountPrintInvoice">Rp. 88888</span>
                </div>
                <div class="col-sm-8 text-right">
                    <span>Total :</span>
                </div>
                <div class="col-sm-3 text-right">
                    <span id="TotalPrintInvoice">Rp. 88888</span>
                </div>
            </div>
            <hr style="margin-top: 5px; margin-bottom: 5px;"/>
            <div class="row">
                <div class="col-sm-8 text-right">
                    <span>Amount :</span>
                </div>
                <div class="col-sm-3 text-right">
                    <span id="AmountPrintInvoice">Rp. 88888</span>
                </div>
                <div class="col-sm-8 text-right">
                    <span>Cash :</span>
                </div>
                <div class="col-sm-3 text-right">
                    <span id="CashPrintInvoice">Rp. 88888</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
</body>
</html>