<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manajer - Customer | MacitePos</title>
    <div th:replace="m_header :: header-css"/>
    <script th:src="@{assets/js/member.js}"></script>
</head>
<body>

<div th:replace="m_header :: header"/>

<!-- COntent web -->
<div class="body">
    <div class="container-fluid">
        <div class="page-header">
            <h2 class="text-center">CUSTOMER</h2>
        </div>
        <!-- Code Here --><!-- Code Here --><!-- Code Here --><!-- Code Here --><!-- Code Here -->
        <!-- Search -->
        <!--<form class="form-inline text-center">-->
            <!--<div class="form-group">-->
                <!--<div class="input-group">-->
                    <!--<input type="text" style=" width: 300px" class="form-control" aria-label="..." placeholder="Search"/>-->
                    <!--<div class="input-group-btn">-->
                        <!--<button type="button" class="btn btn-default text-center" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search fa-fw" aria-hiden="true"></i>Search</button>-->
                    <!--</div>&lt;!&ndash; /btn-group &ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    </div>
    <!-- MODAL TAMBAH CUSTOMER -->
    <div class="modal fade" id="tambahCustomer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Tambah Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <form>
                                <div class="form-group">
                                    <label for="fullName">Full Name</label>
                                    <input type="email" class="form-control" id="fullName" placeholder="Full Name"/>
                                </div>
                                <div class="form-group">
                                    <label for="Address">Address</label>
                                    <input type="password" class="form-control" id="Address" placeholder="Address"/>
                                </div>
                                <div class="form-group">
                                    <label for="DOB">Date Of Birth</label>
                                    <input type="email" class="form-control" id="DOB" placeholder="Date Of Birth"/>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="password" class="form-control" id="email" placeholder="Email"/>
                                </div>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="L"/> Laki Laki
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="P"/> Perempuan
                                </label>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputFile">Photo</label>
                                <div >
                                    <img style="width: 200px; margin-bottom:10px;" th:src="@{assets/image/defaultProfile.png}"/>
                                </div>
                                <input type="file" id="exampleInputFile"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Table -->
    <!--<div class="container-fluid" th:if="${not #lists.isEmpty(member)}">-->
    <div class="container-fluid">
        <table class="table table-striped " id="memberTable" style="margin-top: 20px">
            <thead>
            <tr style="background-color: #FC161B">

                <th>ID Member</th>
                <th>Nama</th>
                <th>TL</th>
                <th>L/P</th>
                <th>Alamat</th>
                <th>Email</th>
                <th>Count</th>
                <th>Created at</th>
            </tr>
            </thead>
            <!--<tbody>-->
            <!--<tr th:each="members : ${member}">-->
                <!--<td>1</td>-->
                <!--<td th:text="${members.id_member}"></td>-->
                <!--<td th:text="${members.nama_member}"></td>-->
                <!--<td th:text="${members.tanggal_lahir}"></td>-->
                <!--<td th:text="${members.jenis_kelamin}"></td>-->
                <!--<td th:text="${members.alamat}"></td>-->
                <!--<td th:text="${members.count}"></td>-->
                <!--<td th:text="${members.created_at}"></td>-->

            <!--</tr>-->
            <!--</tbody>-->
        </table>
    </div>
</div>
</body>
</html>