<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
    <title>Manajer - Dashboard | MacitePos.com</title>
    <div th:replace="m_header :: header-css"/>
</head>
<body>

<div th:replace="m_header :: header"/>

<!-- COntent web -->
<div class="body">
    <div class="container-fluid">
        <div class="page-header">
            <h2 class="text-center">Dashboard</h2>
        </div>
        <!-- CODE HERE -->
        <div class="row">
            <div class="col-md-3" style="color: white">
                <div class="panel panel-default" style="margin-top: 0px;">
                    <div class="panel-body manajerpanel" style="background-color: #6AABFC; height: 100px">
                        <h4>Orders</h4>
                        <h3><b th:text="${session.jumlahOrder}"></b></h3>
                        <i class="fa fa-shopping-bag fa-5x" style=" position: absolute; right: 30px; top:15px; color: rgba(0, 0, 0, 0.16)" aria-hidden="true"></i>
                    </div>
                    <a th:href="@{/order}" style="color: white;">
                        <div class="panel-footer text-center" style="background-color: #699CFC">More Info
                            <i class="fa fa-arrow-right fa-fw"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3" style="color: white">
                <div class="panel panel-default" style="margin-top: 0px;">
                    <div class="panel-body manajerpanel" style="background-color: #6AD126; height: 100px">
                        <h4>Payments</h4>

                        <i class="fa fa-line-chart  fa-5x" style=" position: absolute; right: 30px; top:15px; color: rgba(0, 0, 0, 0.16)" aria-hidden="true"></i>
                        <h3><b>Rp.150.000.000</b></h3>
                    </div>
                    <a th:href="@{/report}" style="color: white;">
                        <div class="panel-footer text-center" style="background-color: #67971A">More Info
                            <i class="fa fa-arrow-right fa-fw"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3" style="color: white">
                <div class="panel panel-default" style="margin-top: 0px;">
                    <div class="panel-body manajerpanel" style="background-color: #FEBF2D; height: 100px">
                        <h4>Products</h4>
                        <h3><b>5150</b></h3>
                        <span class="fa-stack fa-lg" style=" position: absolute; right: 85px; top:35px;">
 									<i class="fa fa-list-alt fa-stack-1x fa-5x" style="color: rgba(0, 0, 0, 0.16)"></i>
 									<i class="fa fa-thumbs-o-up fa-stack-3x fa-3x" style="color: rgba(0, 0, 0, 0.16)"></i>
 								</span>
                    </div>
                    <a th:href="@{/product}" style="color: white;">
                        <div class="panel-footer text-center" style="background-color: #FD9927">More Info
                            <i class="fa fa-arrow-right fa-fw"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3" style="color: white">
                <div class="panel panel-default" style="margin-top: 0px;">
                    <div class="panel-body manajerpanel" style="background-color: #FD4D1F; height: 100px">
                        <h4>Customers</h4>
                        <h3><b>1530</b></h3>
                        <i class="fa fa-user fa-5x" style=" position: absolute; right: 30px; top:15px; color: rgba(0, 0, 0, 0.16)" aria-hidden="true"></i>
                    </div>
                    <a th:href="@{/customer}" style="color: white;">
                        <div class="panel-footer text-center" style="background-color: #FC361D">More Info
                            <i class="fa fa-arrow-right fa-fw"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Load c3.css -->
        <link th:href="@{assets/c3/c3.css}" rel="stylesheet"/>

        <!-- Load d3.js and c3.js -->
        <script th:src="@{assets/c3/d3.min.js}" charset="utf-8"></script>
        <script th:src="@{assets/c3/c3.min.js}"></script>

        <canvas id="myChart"></canvas>
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js}"></script>
        <script type="text/javascript">


            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: {
                    labels: ["January", "February", "March", "April", "May", "June", "July", "Augustus", "September", "October", "November", "December"],
                    datasets: [{
                        label: "Statistic Macitepos",
                        backgroundColor: 'rgba(74, 142, 249 , 0.5)',
                        borderColor: 'green',
                        data: [5, 10, 0, 4, 20, 28, 20, 34, 30, 40, 18, 33],
                    }]
                },

                // Configuration options go here
                options: {}
            });
        </script>
    </div>
</div>
</body>
</html>