<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:path="http://www.w3.org/1999/xhtml">
<head>
    <title>Manajer - User | MacitePos</title>
    <div th:replace="m_header :: header-css"/>
    <script th:src="@{assets/js/user.js}"></script>
</head>
<body>

<div th:replace="m_header :: header"/>

<!-- COntent web -->
<div class="body">
    <div class="container-fluid">
        <div class="page-header">
            <h2 class="text-center">USER</h2>
        </div>
        <!-- Code Here --><!-- Code Here --><!-- Code Here --><!-- Code Here --><!-- Code Here -->
        <!-- Search -->
        <form class="form-inline text-center">
            <div id="user-form" class="form-group">
                <button type="button" data-toggle="modal" data-target="#tambahCustomer" class="btn btn-primary text-center" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus fa-fw" aria-hiden="true"></i>Tambah</button>
            </div>
        </form>
    </div>

    <!--<form:form commandName="user">-->
    <!-- MODAL TAMBAH CUSTOMER -->
    <div class="modal fade" id="tambahCustomer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" th:object="${penggunaBaru}" th:action="@{/user/create}" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Tambah Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="hidden" th:field="*{id_pengguna}"/>
                                <div class="form-group">
                                    <label for="fullName">Full Name</label>
                                    <input type="text" class="form-control" id="fullName" th:field="*{nama_pengguna}" />
                                </div>
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control" th:field="*{username}"/>
                                </div>
                                <div class="form-group">
                                    <label for="Address">Address</label>
                                    <input type="text" class="form-control" id="Address" th:field="*{alamat_pengguna}"/>
                                </div>
                                <div class="form-group">
                                    <label for="DOB">Date Of Birth</label>
                                    <input type="date" class="form-control" id="DOB" th:field="*{tanggal_lahir}"/>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" th:field="*{email}"/>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="text" class="form-control" th:field="*{password}" />
                                </div>
                                <div class="form-group">
                                    <label>Status Pengguna</label>
                                    <label class="radio-inline">
                                        <input  type="radio" value="true" name="inlineRadioOptions" id="inlineRadio1" th:field="*{status_pengguna}"/> Aktif
                                    </label>
                                    <label class="radio-inline">
                                        <input  type="radio" value="false" name="inlineRadioOptions" id="inlineRadio2" th:field="*{status_pengguna}"/> Tidak Aktif
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>Kategori</label>
                                    <label class="radio-inline">
                                        <input  type="radio" value="kasir" name="inlineRadioOptions" id="inlineRadio1" th:field="*{level}"/> Kasir
                                    </label>
                                    <label class="radio-inline">
                                        <input  type="radio" value="warehouse" name="inlineRadioOptions" id="inlineRadio2" th:field="*{level}"/> Warehouse Admin
                                    </label>
                                </div>
                                <!--<div class="form-group">-->
                                <!--<label>Created At</label>-->
                                <!--<input type="hidden" name="startdate" id="todayDate" th:field="*{created_at}"/>-->
                                <!--<script type="text/javascript">-->
                                <!--function getDates()-->
                                <!--{-->
                                <!--var today = new Date();-->
                                <!--var dd = today.getDate();-->
                                <!--var mm = today.getMonth()+1; //January is 0!-->
                                <!--var yyyy = today.getFullYear();-->
                                <!--var hh = today.getHours();-->
                                <!--var m = today.getMinutes();-->
                                <!--var ss = today.getSeconds();-->
                                <!--today = yyyy+"-"+mm+"-"+dd+" "+hh+":"+m+":"+ss;-->

                                <!--document.getElementById("todayDate").value = today;-->
                                <!--}-->

                                <!--//call getDate() when loading the page-->
                                <!--getDates();-->
                                <!--</script>-->
                                <!--</div>-->

                            </div>
                            <div class="col-md-6" style="padding-left: 30px">
                                <div class="form-group">
                                    <label >Photo</label>
                                    <div >
                                        <img style="width: 200px; margin-bottom:10px;" id="output" alt="Preview Image"/>
                                    </div>
                                    <input type="file" name="file" onchange="loadFile(event)"/>
                                    <script>
                                        var loadFile = function(event) {
                                            var output = document.getElementById('output');
                                            output.src = URL.createObjectURL(event.target.files[0]);
                                        };
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!--</form:form>-->
    <!-- Table -->
    <!--<div th:if="${not #lists.isEmpty(pengguna)}">-->
    <div>
        <table class="table table-striped " style="margin-top: 20px" id="userTable">
            <thead>
            <tr style="background-color: #71BACF">
                <th>Image</th>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Date of Birth</th>
                <th>Email</th>
                <th>Category</th>
                <th>Created at</th>
                <th>Last Modified</th>
            </tr>
            </thead>
            <!--<tbody>-->
            <!--<tr th:each="penggunas : ${pengguna}">-->
                <!--<td><img th:src="@{assets/image/defaultProfile.png}" style="max-height: 40px"/></td>-->
                <!--<td th:text="${penggunas.id_pengguna}"></td>-->
                <!--<td th:text="${penggunas.nama_pengguna}"></td>-->
                <!--<td th:text="${penggunas.alamat_pengguna}"></td>-->
                <!--<td th:text="${penggunas.tanggal_lahir}"></td>-->
                <!--<td th:text="${penggunas.email}"></td>-->
                <!--<td th:text="${penggunas.level}"></td>-->
                <!--<td th:text="${penggunas.created_at}"></td>-->
                <!--<td th:text="${penggunas.last_modified}"></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        </table>
    </div>
</div>
</body>
</html>