<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
    <title>Warehouse Admin - Dashboard | MacitePos.com</title>
    <div th:replace="w_header :: header-css"/>
</head>
<body>

<div th:replace="w_header :: header"/>

<!-- COntent web -->
<div class="body">
    <div class="container-fluid">
        <div class="page-header">
            <h2 class="text-center">DASHBOARD</h2>
        </div>
        <!-- Code Here --><!-- Code Here --><!-- Code Here --><!-- Code Here --><!-- Code Here -->
        <!-- Search -->
        <form class="form-inline text-center">
            <div class="form-group">
                <button type="button" data-toggle="modal" data-target="#tambahProduk" class="btn btn-primary text-center" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus fa-fw" aria-hiden="true"></i>Tambah</button>
                <button type="button" data-toggle="modal" data-target="#restock" class="btn btn-primary text-center" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus fa-fw" aria-hiden="true"></i>Re-Stock</button>
                <div class="input-group">
                    <button type="button" data-toggle="modal" data-target="#manage" class="btn btn-primary text-center" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus fa-fw" aria-hiden="true"></i>Manage Stock</button>

                </div>
                <a data-toggle="tab" href="#approved"><button type="button" class="btn btn-success text-center active" aria-haspopup="true" aria-expanded="false">Approved</button></a>
                <a data-toggle="tab" href="#dissapproved"><button type="button" class="btn btn-warning text-center" aria-haspopup="true" aria-expanded="false" >Disapproved</button></a>
            </div>
        </form>
    </div>
    <!-- MODAL TAMBAH PRODUK -->
    <div class="modal fade" id="tambahProduk" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" th:object="${produkBaru}" th:action="@{/warehouse-product/create}" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" >Tambah Produk</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="hidden" th:field="*{id_produk}" />
                                <div class="form-group">
                                    <label for="fullName">Product Name</label>
                                    <input type="text" class="form-control" id="fullName" th:field="*{nama_produk}" />
                                </div>
                                <div class="form-group">
                                    <label >Buy Price</label>
                                    <input type="number" class="form-control" th:field="*{harga_beli}"/>
                                </div>
                                <div class="form-group">
                                    <label >Sell Price</label>
                                    <input type="number" class="form-control" th:field="*{harga_penjualan}"/>
                                </div>
                                <div class="form-group">
                                    <label>Number Rak Shop</label>
                                    <input type="text" class="form-control" th:field="*{no_rak_toko}"/>
                                </div>
                                <div class="form-group">
                                    <label>Stock in shop</label>
                                    <input type="number" class="form-control" th:field="*{stok_toko}"/>
                                </div>
                                <div class="form-group">
                                    <label>Stock in warehouse</label>
                                    <input type="number" class="form-control" th:field="*{stok_gudang}"/>
                                </div>
                                <div class="form-group">
                                    <label>Stock total</label>
                                    <input type="number" class="form-control" th:field="*{stok_total}" />
                                </div>
                                <div class="form-group">
                                    <label>Re Stock</label>
                                    <input type="number" class="form-control" th:field="*{stok_total}" />
                                </div>
                                <div class="form-group">
                                    <label>Categori</label>
                                    <label class="radio-inline">
                                        <input type="radio" value="food"  name="inlineRadioOptions" id="inlineRadio1" th:field="*{kategori}"/> Food
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="drink"  name="inlineRadioOptions" id="inlineRadio2" th:field="*{kategori}"/> Drink
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="drug"  name="inlineRadioOptions" id="inlineRadio3" th:field="*{kategori}"/> Drug
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="cosmetic"  name="inlineRadioOptions" id="inlineRadio4" th:field="*{kategori}"/> Cosmetic
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="office"  name="inlineRadioOptions" id="inlineRadio5" th:field="*{kategori}"/> Office
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="household"  name="inlineRadioOptions" id="inlineRadio6" th:field="*{kategori}"/> Household Equipment
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>Created At</label>
                                    <input type="hidden" name="startdate" id="todayDate" th:field="*{created_at}"/>
                                    <script type="text/javascript">
                                    function getDates()
                                    {
                                    var today = new Date();
                                    var dd = today.getDate();
                                    var mm = today.getMonth()+1; //January is 0!
                                    var yyyy = today.getFullYear();
                                    var hh = today.getHours();
                                    var m = today.getMinutes();
                                    var ss = today.getSeconds();
                                    today = yyyy+"-"+mm+"-"+dd+" "+hh+":"+m+":"+ss;

                                    document.getElementById("todayDate").value = today;
                                    }

                                    //call getDate() when loading the page
                                    getDates();
                                    </script>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label >Photo</label>
                                    <div >
                                        <img style="width: 200px; margin-bottom:10px;" id="output2" alt="Preview Image"/>
                                    </div>
                                    <input type="file" name="file" onchange="loadFile(event)"/>
                                    <script>
                                        var loadFile = function(event) {
                                            var output = document.getElementById('output2');
                                            output.src = URL.createObjectURL(event.target.files[0]);
                                        };
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- MODAL RESTOCK -->
    <div class="modal fade" id="restock" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form th:object="${produkBaru}" th:action="@{/warehouse-product/restock}" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >Re-Stock</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">

                                <div class="form-group">
                                    <label >Code Product</label>
                                    <input type="number" class="form-control"  placeholder="Code Product" th:field="*{id_produk}"/>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Re-stock</label>
                                    <input type="text" class="form-control" placeholder="0" th:field="*{stok_ulang}"/>
                                    <input type="hidden" th:filed="*{updated_by}"/>
                                </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <!-- MODAL MANAGE -->
    <div class="modal fade" id="manage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form th:object="${produkBaru}" th:action="@{/warehouse-product/manage}" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" >Manage</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label >Code Product</label>
                                    <input type="number" class="form-control"  placeholder="Code Product" th:field="*{id_produk}"/>
                                </div>
                                <div class="form-group">
                                    <label >Stock to Shop</label>
                                    <input type="text" class="form-control" placeholder="0" th:field="*{stok_ulang}"/>
                                    <input type="hidden" th:filed="*{updated_by}"/>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Table -->
    <div class="tab-content" >
    <div class="container-fluid tab-pane fade in active" id="approved" th:if="${not #lists.isEmpty(produkApp)}">
        <table class="table table-striped " style="margin-top: 20px;" >
            <thead>
            <tr style="background-color: #00B900">
                <th>Image</th>
                <th>Code</th>
                <th>Name</th>
                <th>Price</th>
                <th>Stock Shop</th>
                <th>Stock Ware house</th>
                <th>Re Stock</th>
                <th>Category</th>
                <th>Number Rack Shop</th>
                <th>Price Buy</th>
                <th>Price Sell</th>
                <th>Status Product</th>
                <th>Last Update</th>
                <th>Update By</th>
                <th>Created at</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pr : ${produkApp}">
                <td><img th:src="@{${'image/product/'+pr.foto_produk}}" style="max-height: 40px"/></td>
                <td th:text="${pr.id_produk}"></td>
                <td th:text="${pr.nama_produk}"></td>
                <td th:text="${pr.harga_penjualan}"></td>
                <td th:text="${pr.stok_toko}"></td>
                <td th:text="${pr.stok_gudang}"></td>
                <td th:text="${pr.stok_ulang}"></td>
                <td th:text="${pr.kategori}"></td>
                <td th:text="${pr.no_rak_toko}"></td>
                <td th:text="${pr.harga_beli}"></td>
                <td th:text="${pr.harga_penjualan}"></td>
                <td th:text="${pr.status_produk}"></td>
                <td th:text="${pr.last_updated}"></td>
                <td th:text="${pr.updated_by}"></td>
                <td th:text="${pr.created_at}"></td>
                <td>
                    <a th:href="${'warehouse-product/edit/'+pr.id_produk}">Edit</a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <!-- Table -->
    <div class="container-fluid tab-pane fade" id="dissapproved">
        <table class="table table-striped " style="margin-top: 20px" >
            <thead>
            <tr style="background-color: #FEA72C">
                <th>Image</th>
                <th>Code</th>
                <th>Name</th>
                <th>Price</th>
                <th>Stock Shop</th>
                <th>Stock Ware house</th>
                <th>Re Stock</th>
                <th>Category</th>
                <th>Number Rack Shop</th>
                <th>Price Buy</th>
                <th>Price Sell</th>
                <th>Status Product</th>
                <th>Last Update</th>
                <th>Update By</th>
                <th>Created at</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pr : ${produkDis}">
                <td><img th:src="@{${'image/product/'+pr.foto_produk}}" style="max-height: 40px"/></td>
                <td th:text="${pr.id_produk}"></td>
                <td th:text="${pr.nama_produk}"></td>
                <td th:text="${pr.harga_penjualan}"></td>
                <td th:text="${pr.stok_toko}"></td>
                <td th:text="${pr.stok_gudang}"></td>
                <td th:text="${pr.stok_ulang}"></td>
                <td th:text="${pr.kategori}"></td>
                <td th:text="${pr.no_rak_toko}"></td>
                <td th:text="${pr.harga_beli}"></td>
                <td th:text="${pr.harga_penjualan}"></td>
                <td th:text="${pr.status_produk}"></td>
                <td th:text="${pr.last_updated}"></td>
                <td th:text="${pr.updated_by}"></td>
                <td th:text="${pr.created_at}"></td>
                <td>
                    <a th:href="${'warehouse-product/edit/'+pr.id_produk}">Edit</a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    </div>
    <!-- MODAL EDIT -->
    <div class="modal fade" id="editBarang" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Barang</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <form>
                                <div class="form-group">
                                    <label >Code Product</label>
                                    <input type="text" class="form-control"  placeholder="Code Product"/>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Name Product</label>
                                    <input type="text" class="form-control"  placeholder="Name Product"/>
                                </div>
                                <div class="form-group readonly">
                                    <label for="exampleInputPassword1">Stock</label>
                                    <input type="text" readonly="" class="form-control"  placeholder="0"/>
                                </div>
                                <div class="form-group readonly">
                                    <label for="exampleInputPassword1">Category</label>
                                    <input type="text" readonly="" class="form-control"  placeholder="Category"/>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">No Rak Gudang</label>
                                <select class="form-control">
                                    <option>A1</option>
                                    <option>A2</option>
                                    <option>A3</option>
                                    <option>A4</option>
                                    <option>A5</option>
                                    <option>A6</option>
                                    <option>A7</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">No Rak Toko</label>
                                <select class="form-control">
                                    <option>A1</option>
                                    <option>A2</option>
                                    <option>A3</option>
                                    <option>A4</option>
                                    <option>A5</option>
                                    <option>A6</option>
                                    <option>A7</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Stock Toko</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="0"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>