<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
    <title>Warehouse Admin - Edit Profile | MacitePos.com</title>
    <div th:replace="w_header :: header-css"/>
</head>
<body>

<div th:replace="w_header :: header"/>

<!-- COntent web -->
<div class="body">
    <div class="container-fluid">
        <div class="page-header">
            <h2 class="text-center">Edit Profile<!-- <small>Subtext for header</small> --></h2>
        </div>
    </div>
    <!-- MODAL EDIT PROFILE -->
    <div class="modal fade" id="tambahCustomer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" th:object="${pengguna}" th:action="@{/warehouse-profile/save}" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Tambah Customer</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="hidden" th:field="*{id_pengguna}"/>
                                <input type="hidden" th:field="*{created_at}"/>
                                <input type="hidden" th:field="*{last_modified}"/>
                                <input type="hidden" th:field="*{status_pengguna}"/>
                                <input type="hidden" th:field="*{level}"/>
                                <input type="hidden" th:field="*{username}"/>

                                <div class="form-group">
                                    <label for="fullName">Full Name</label>
                                    <input type="text" class="form-control" id="fullName" th:field="*{nama_pengguna}" />
                                </div>
                                <div class="form-group">
                                    <label for="Address">Address</label>
                                    <input type="text" class="form-control" id="Address" th:field="*{alamat_pengguna}"/>
                                </div>
                                <div class="form-group">
                                    <label for="DOB">Date Of Birth</label>
                                    <input type="date" class="form-control" id="DOB" th:field="*{tanggal_lahir}"/>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" th:field="*{email}"/>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="text" class="form-control" th:field="*{password}" />
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label >Photo</label>
                                    <div >
                                        <img style="width: 200px; margin-bottom:10px;" id="output" alt="Preview Image"/>
                                    </div>
                                    <input type="file" name="file"  accept="image/*" onchange="loadFile(event)" />
                                    <script>
                                        var loadFile = function(event) {
                                            var output = document.getElementById('output');
                                            output.src = URL.createObjectURL(event.target.files[0]);
                                        };
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Table -->
    <div class="container-fluid">
        <table class="table table-striped " style="margin-top: 20px">
            <thead>
            <tr style="background-color: #71BACF">
                <th>Image</th>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Date of Birth</th>
                <th>Email</th>
                <th>Category</th>
                <th>Created at</th>
                <th>Last Modified</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="penggunas : ${pengguna}">
                <td><img th:src="@{${'/image/user/' + penggunas.foto_pengguna}}" style="max-height: 40px"/></td>
                <td th:text="${penggunas.id_pengguna}"></td>
                <td th:text="${penggunas.nama_pengguna}"></td>
                <td th:text="${penggunas.alamat_pengguna}"></td>
                <td th:text="${penggunas.tanggal_lahir}"></td>
                <td th:text="${penggunas.email}"></td>
                <td th:text="${penggunas.level}"></td>
                <td th:text="${penggunas.created_at}"></td>
                <td th:text="${penggunas.last_modified}"></td>
                <td><button type="button" data-toggle="modal" data-target="#tambahCustomer" class="btn btn-info">Edit</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>