<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
    <title>Warehouse Admin - Dashboard | MacitePos.com</title>
    <link th:href="@{/assets/image/icon.png}" rel="shortcut icon"/>
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/cssnyatemplate.css}"/>
    <link rel="stylesheet" th:href="@{assets/font-awesome-4.7.0/css/font-awesome.min.css}"/>
    <script  th:src="@{assets/js/jquery-3.1.1.min.js}"></script>
    <script  th:src="@{assets/js/bootstrap.min.js}"></script>
    <script th:src="@{assets/js/w_dashboard.js}"></script>


</head>
<body>

<div class="body">
    <div class="container-fluid">
        <div class="page-header">
            <h2 class="text-center">Edit Product</h2>
        </div>

        <div class="page-body">
            <form class="form-horizontal" th:object="${produk}" th:action="@{/warehouse-product/create}" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-3">
                            <input type="hidden" th:field="*{id_produk}" />
                            <input type="hidden" th:field="*{created_at}" />

                            <div class="form-group">
                                <label for="fullName">Product Name</label>
                                <input type="text" class="form-control" id="fullName" th:field="*{nama_produk}" />
                            </div>
                            <div class="form-group">
                                <label >Buy Price</label>
                                <input type="number" class="form-control" th:field="*{harga_beli}"/>
                            </div>
                            <div class="form-group">
                                <label >Sell Price</label>
                                <input type="number" class="form-control" th:field="*{harga_penjualan}"/>
                            </div>


                                <input type="hidden" class="form-control" th:field="*{stok_toko}"/>
                                <input type="hidden" class="form-control" th:field="*{stok_gudang}"/>
                                <input type="hidden" class="form-control" th:field="*{stok_total}" />
                                <input type="hidden" class="form-control" th:field="*{stok_total}" />
                                <input type="hidden" class="form-control" th:field="*{status_produk}" />

                            <div class="form-group"  id="categoryProduct">
                                <label>Categori</label>
                                <br/>
                                <label class="radio-inline">
                                    <input type="radio" value="food"  name="inlineRadioOptions" id="inlineRadio1" th:field="*{kategori}"/> Food
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="drink"  name="inlineRadioOptions" id="inlineRadio2" th:field="*{kategori}"/> Drink
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="drug"  name="inlineRadioOptions" id="inlineRadio3" th:field="*{kategori}"/> Drug
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="cosmetic"  name="inlineRadioOptions" id="inlineRadio4" th:field="*{kategori}"/> Cosmetic
                                </label>
                                <br/>
                                <label class="radio-inline">
                                    <input type="radio" value="office"  name="inlineRadioOptions" id="inlineRadio5" th:field="*{kategori}"/> Office
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="household"  name="inlineRadioOptions" id="inlineRadio6" th:field="*{kategori}"/> Household Equipment
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Number Rak Shop</label>
                                <input type="text" class="form-control" th:field="*{no_rak_toko}"/>
                                <span id="sugestionRak"></span>
                            </div>

                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label >Photo</label>
                                <div >
                                    <img style="width: 200px; margin-bottom:10px;" id="output2" alt="Preview Image"/>
                                </div>
                                <input type="file" name="file" onchange="loadFile(event)"/>
                                <script>
                                    var loadFile = function(event) {
                                        var output = document.getElementById('output2');
                                        output.src = URL.createObjectURL(event.target.files[0]);
                                    };
                                </script>
                            </div>

                            <div >
                                <button type="button" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>

            </form>
        </div>

    </div>
</div>
</body>
</html>