<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <link th:href="@{/assets/image/icon.png}" rel="shortcut icon"/>
        <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" th:href="@{assets/css/cssnyatemplate.css}"/>
        <link rel="stylesheet" th:href="@{assets/font-awesome-4.7.0/css/font-awesome.min.css}"/>
        <script  th:src="@{assets/js/jquery-3.1.1.min.js}"></script>
        <script  th:src="@{assets/js/bootstrap.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.15/js/jquery.dataTables.min.js"></script>
        <script th:src="@{assets/js/member.js}"></script>
        <script th:src="@{assets/js/user.js}"></script>
        <script th:src="@{assets/js/produk.js}"></script>
        <script th:src="@{assets/js/order.js}"></script>
        <link rel="stylesheet" href=
                "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.15/css/jquery.dataTables.min.css" />

        <!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
        <!--<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>-->
        <!--<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>-->
        <!--<script src="https://cdn.datatables.net/select/1.2.4/js/dataTables.select.min.js"></script>-->
        <!--<script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>-->


        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    </div>
</head>

<body>
<div th:fragment="header">
<nav class="navbar navbar-default navbar-fixed-top" style="height: 60px">
    <div class="container-fluid">

        <div class="" s="navbar-header" style="padding-top: 5px;">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img alt="Brand" th:src="@{assets/image/logo.png}" style="max-height: 100%"/>
            </a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav set-nav">
                <li>
                    <div class="container-fluid active-user">
                        <div class="row">
                            <div class="col-sm-5"><img th:src="@{${'image/user/' + session.foto}}" class="img-circle" style="max-width: 100%"/></div>
                            <div class="col-md-7">
                                <h5 style="margin-bottom: 0px"><b th:text="${session.nama}"></b></h5>
                                <span> <span style="color: #00B900; font-size: 20px;" >&#9679;</span> Online</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li th:classappend="${warehousePOS}?active:none">
                    <a th:href="@{/warehouse}"><i class="fa fa-tachometer fa-fw" aria-hidden="true"></i>
                    Dashboard <span class="sr-only">(current)</span></a></li>
                <li th:classappend="${warehouseeditPOS}?active:none">
                    <a th:href="@{/warehouse-editProfile}"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>
                    Edit Profile</a></li>
                <li th:classappend="${rakPOS}?active:none">
                    <a th:href="@{/warehouse-rak}"><i class="fa fa-th-large fa-fw" aria-hidden="true"></i>
                    Rak</a></li>
                <li><a th:href="@{/logout}"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>
                    Logout</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b th:inline="text">[[${#httpServletRequest.remoteUser}]]</b><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/warehouse}"><i class="fa fa-tachometer fa-fw" aria-hidden="true"></i> Dashboard</a></li>
                        <li><a th:href="@{/warehouse-editProfile}"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> Profile</a></li>
                        <li><a th:href="@{/logout}"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>
</body>
</html>