<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
    <title>Warehouse Admin - Product Mapping | MacitePos.com</title>
    <div th:replace="w_header :: header-css"/>
</head>
<body>

<div th:replace="w_header :: header"/>

<!-- COntent web -->
<div class="body">
    <div class="container-fluid">
        <div class="page-header">
            <h2 class="text-center">RAK TOKO</h2>
        </div>
        <form class="form-inline text-right">
            <div class="form-group">
                <a href="kasirproduk.html"><button type="button" class="btn btn-danger text-center" aria-haspopup="true" aria-expanded="false">Close</button></a>
            </div>
        </form>
    </div>
    <!-- RAK MAPING BARANG -->
    <!--Food-->
    <div class="container-fluid">
        <div class="row">
            <h2 class="fh5co-uppercase-heading-sm text-center">Food</h2>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        55686546
                    </div>
                    <div class="panel-body">
                        <p>Indomie <br/>rasa kasih sayang</p>
                    </div>
                    <div class="panel-footer">
                        105
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        55686546
                    </div>
                    <div class="panel-body">
                        <p>Indomie <br/>rasa kasih sayang</p>
                    </div>
                    <div class="panel-footer">
                        105
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        55686546
                    </div>
                    <div class="panel-body">
                        <p>Indomie <br/>rasa kasih sayang</p>
                    </div>
                    <div class="panel-footer">
                        105
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        55686546
                    </div>
                    <div class="panel-body">
                        <p>Indomie <br/>rasa kasih sayang</p>
                    </div>
                    <div class="panel-footer">
                        105
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        55686546
                    </div>
                    <div class="panel-body">
                        <p>Indomie <br/>rasa kasih sayang</p>
                    </div>
                    <div class="panel-footer">
                        105
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        55686546
                    </div>
                    <div class="panel-body">
                        <p>Indomie <br/>rasa kasih sayang</p>
                    </div>
                    <div class="panel-footer">
                        105
                    </div>
                </div>
            </div>
            <!--Drink-->
            <h2 class="fh5co-uppercase-heading-sm text-center">Drink</h2>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        12033246
                    </div>
                    <div class="panel-body">
                        <p>Teh Pucuk Harum</p>
                    </div>
                    <div class="panel-footer">
                        3200
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        12033246
                    </div>
                    <div class="panel-body">
                        <p>Teh Pucuk Harum</p>
                    </div>
                    <div class="panel-footer">
                        3200
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        12033246
                    </div>
                    <div class="panel-body">
                        <p>Teh Pucuk Harum</p>
                    </div>
                    <div class="panel-footer">
                        3200
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        12033246
                    </div>
                    <div class="panel-body">
                        <p>Teh Pucuk Harum</p>
                    </div>
                    <div class="panel-footer">
                        3200
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        12033246
                    </div>
                    <div class="panel-body">
                        <p>Teh Pucuk Harum</p>
                    </div>
                    <div class="panel-footer">
                        3200
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        12033246
                    </div>
                    <div class="panel-body">
                        <p>Teh Pucuk Harum</p>
                    </div>
                    <div class="panel-footer">
                        3200
                    </div>
                </div>
            </div>
            <!-- Drugs-->
            <h2 class="fh5co-uppercase-heading-sm text-center">Drugs</h2>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        12120346
                    </div>
                    <div class="panel-body">
                        <p>Decolgen</p>
                    </div>
                    <div class="panel-footer">
                        340
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        12120346
                    </div>
                    <div class="panel-body">
                        <p>Decolgen</p>
                    </div>
                    <div class="panel-footer">
                        340
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        12120346
                    </div>
                    <div class="panel-body">
                        <p>Decolgen</p>
                    </div>
                    <div class="panel-footer">
                        340
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        12120346
                    </div>
                    <div class="panel-body">
                        <p>Decolgen</p>
                    </div>
                    <div class="panel-footer">
                        Panel Footer
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        12120346
                    </div>
                    <div class="panel-body">
                        <p>Decolgen</p>
                    </div>
                    <div class="panel-footer">
                        340
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        12120346
                    </div>
                    <div class="panel-body">
                        <p>Decolgen</p>
                    </div>
                    <div class="panel-footer">
                        340
                    </div>
                </div>
            </div>
            <!--Cosmetic-->
            <h2 class="fh5co-uppercase-heading-sm text-center">Cosmetics</h2>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        5342146
                    </div>
                    <div class="panel-body">
                        <p>Pixie</p>
                    </div>
                    <div class="panel-footer">
                        1051
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        5342146
                    </div>
                    <div class="panel-body">
                        <p>Pixie</p>
                    </div>
                    <div class="panel-footer">
                        1051
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        5342146
                    </div>
                    <div class="panel-body">
                        <p>Pixie</p>
                    </div>
                    <div class="panel-footer">
                        1051
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        5342146
                    </div>
                    <div class="panel-body">
                        <p>Pixie</p>
                    </div>
                    <div class="panel-footer">
                        1051
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        5342146
                    </div>
                    <div class="panel-body">
                        <p>Pixie</p>
                    </div>
                    <div class="panel-footer">
                        1051
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        5342146
                    </div>
                    <div class="panel-body">
                        <p>Pixie</p>
                    </div>
                    <div class="panel-footer">
                        1051
                    </div>
                </div>
            </div>
            <!--Office-->
            <h2 class="fh5co-uppercase-heading-sm text-center">Office</h2>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        55686523
                    </div>
                    <div class="panel-body">
                        <p>Buku Sinar Mas</p>
                    </div>
                    <div class="panel-footer">
                        2000
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        55686523
                    </div>
                    <div class="panel-body">
                        <p>Buku Sinar Mas</p>
                    </div>
                    <div class="panel-footer">
                        2000
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        55686523
                    </div>
                    <div class="panel-body">
                        <p>Buku Sinar Mas</p>
                    </div>
                    <div class="panel-footer">
                        2000
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        55686523
                    </div>
                    <div class="panel-body">
                        <p>Buku Sinar Mas</p>
                    </div>
                    <div class="panel-footer">
                        2000
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        55686523
                    </div>
                    <div class="panel-body">
                        <p>Buku Sinar Mas</p>
                    </div>
                    <div class="panel-footer">
                        2000
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        55686523
                    </div>
                    <div class="panel-body">
                        <p>Buku Sinar Mas</p>
                    </div>
                    <div class="panel-footer">
                        2000
                    </div>
                </div>
            </div>
            <!--Household Equipment-->
            <h2 class="fh5co-uppercase-heading-sm text-center">Household Equipment</h2>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        90987546
                    </div>
                    <div class="panel-body">
                        <p>Sapu terbang</p>
                    </div>
                    <div class="panel-footer">
                        10
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        90987546
                    </div>
                    <div class="panel-body">
                        <p>Sapu terbang</p>
                    </div>
                    <div class="panel-footer">
                        10
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        90987546
                    </div>
                    <div class="panel-body">
                        <p>Sapu terbang</p>
                    </div>
                    <div class="panel-footer">
                        10
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        90987546
                    </div>
                    <div class="panel-body">
                        <p>Sapu terbang</p>
                    </div>
                    <div class="panel-footer">
                        10
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        90987546
                    </div>
                    <div class="panel-body">
                        <p>Sapu terbang</p>
                    </div>
                    <div class="panel-footer">
                        10
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        90987546
                    </div>
                    <div class="panel-body">
                        <p>Sapu terbang</p>
                    </div>
                    <div class="panel-footer">
                        10
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>